{% extends 'ads/layouts/layout-ads.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'ads/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ads/styles.css' %}">
{% endblock %}
{% block content %}
    <nav class="navbar navbar-dark bg-inverse navbar-full" id="nav-main">
        <a class="navbar-brand" href="#"><img src="{% static 'ads/img/esirom-logo.png' %}"></a>
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline pull-xs-right">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </nav>

    <section class="jumbotron-section">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Market Research</h1>
                <p class="lead">See how your competitors are advertising so you can stay on top of your game.</p>
            </div>
        </div>
    </section>

    <section class="search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Test it out!</h3>
                    <form method="POST" action="ads.html">
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="sr-only">Brand</label>
                                <select title="brand" name="" class="form-control form-control-lg">
                                    <option>Choose a Brand...</option>
                                    {% for brand in menu_options %}
                                    <option value="{{ brand.id }}">{{ brand.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="from">Between:</label>
                                <input id="from" type="date" class="form-control form-control-sm" placeholder="From (Month)...">
                            </div>
                            <div class="form-group">
                                <label for="to">AND:</label>
                                <input id="to" type="date" class="form-control form-control-sm" placeholder="To (Month)...">
                            </div>
                            <button class="btn btn-default btn-lg" type="submit">Search!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{#    {% if results_list %}#}
    <section class="results">
        <div class="container">
            <table class="table table-bordered">
                <thead class="thead-inverse">
                <tr>
                    <th>Brand</th>
                    <th>Size</th>
                    <th>Colour/Black and White</th>
                    <th>Cost</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">ATL</th>
                    <td>12 x 5</td>
                    <td>Black and White</td>
                    <td>$45,000</td>
                    <td>October 2, 2016</td>
                </tr>
                <tr>
                    <th scope="row">ATL</th>
                    <td>12 x 7</td>
                    <td>Colour</td>
                    <td>$52,000</td>
                    <td>October 4, 2016</td>
                </tr>
                <tr>
                    <th scope="row">ATL</th>
                    <td>12 x 7</td>
                    <td>Colour</td>
                    <td>$52,000</td>
                    <td>October 4, 2016</td>
                </tr>
                </tbody>
            </table>

        </div>
    </section>
{#    {% endif %}#}
{% endblock %}
{% block js %}
    <script src="{% static 'ads/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'ads/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% endblock %}